XML/ЛР3_2/2Schema.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="music">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="num">
               <xs:complexType>
                  <xs:sequence>
                     <xs:element name="singer" type="xs:string"/>
                     <xs:element name="audition" type="xs:string"/>
                     <xs:element name="bestsong" type="xs:string"/>
                     <xs:element name="lastrel" type="xs:string"/>
                  </xs:sequence>
               </xs:complexType>
             </xs:element>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
</xs:schema> 